.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

.orange {
  color: orange;
}

.yellow-green {
  color: #adff2f;
}

.blue-green {
  color: #0d98ba;
}

.blue-violet {
  color: #8a2be2;
}

.red-violet {
  color: #c71585;
}

.red-orange {
  color: #ff4500;
}

.yellow-orange {
  color: #FFCC00;
}

.header-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear,  left top,  left bottom,
  color-stop(0.00, red),
  color-stop(16%, orange),
  color-stop(32%, yellow),
  color-stop(48%, green),
  color-stop(60%, blue),
  color-stop(76%, indigo),
  color-stop(1.00, violet));
}

li {
  list-style: none;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
}

.index-li-span {
  width: 50%;
}

.index-ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
