<h1 class='header-text'> Rainbow Connection </h1>


<ul class='index-ul'>
  {{#each model as |user|}}
    <li class='index-li'><span class='index-li-span'> {{#link-to 'user' user.id}}
        {{user.name}}
      {{/link-to}}</span>
     <span class='index-li-span'>Favorite Color: <span class={{user.favoritecolor}}>{{user.favoritecolor}}</span> <br />Friends:
              {{#each user.friends as |friend|}}
              {{#link-to 'user' friend.id}}
                {{friend.name}}
              {{/link-to}}
              {{/each}}</span>
    </li>
    {{/each}}
</ul>
