<h1 class='header-text'> Rainbow Connection </h1>


<ul class='index-ul'>
  {{#each model as |user|}}
    <li><span class='index-li-span'>{{user.name}}</span>
     <span class='index-li-span'>Favorite Color: <span class={{user.favoritecolor}}>{{user.favoritecolor}}</span> <br />Friends:
              {{#each user.friends as |friend|}}
                {{friend.name}}
              {{/each}}</span>
    </li>
    {{/each}}
</ul>
